* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h3,
p {
  font-family: "Roboto", sans-serif;
}

.nav-logo {
  color: black;
  font-family: "Shrikhand", cursive;
  font-size: 50px;
}

.header-container {
  padding-bottom: 10px;
  position: relative;
  margin: auto;
}

.nav {
  position: relative;
  text-align: center;
  align-items: center;
}

.back-arrow {
  font-size: 30px;
  color: black;
  left: 0;
  position: absolute;
  padding-top: 22px;
  padding-left: 15px;
}

.image-section {
  height: 300px;
  width: 100%;
  background: brown;
}

.image-section img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.menu-header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.card h3,
p {
  font-weight: 500;
}

.category-container h2,
.card-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.card-left .menu-item-extra {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}


.card-left {
  overflow: hidden;
  white-space: nowrap;
}

.price-text {
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-left: 10px;
  margin-right: 20px;
  margin-left: auto;
  align-self: flex-end;
}

.menu-item-heading,
.menu-item-extra {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item-extra {
  font-family: "Roboto , sans-serif";
  font-weight: 500;
}

.menu-section {
  width: 100%;
  background: rgb(232, 231, 231);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.category-container {
  margin-bottom: 40px;
}

.category-container h2 {
  padding-bottom: 3px;
  position: relative;
}

.category-container h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 12%;
  height: 3px;
  background: #99e2d0;
}

.category-container:last-child {
  margin: 0;
}

.menu-header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heart-icon {
  font-size: 25px;
}

.order-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card {
  background: white;
  width: 100%;
  padding-left: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover .box {
  width: 90px;
  display: flex;
}
.card:hover .tick {
  -webkit-animation: 1s rotate;
  animation: 1s rotate;
}
.card .card-text {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
 
}
.card h3 {
  margin-bottom: 10px;
}
.card .box {
  background: rgb(141, 217, 213);
  width: 0%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.card .box .tick {
  font-size: 25px;
  color: white;
}


.order-button-container {
  display: flex;
  justify-content: center;
}

.order-button {
  margin-bottom: 100px !important;
  margin-top: 30px;
  width: 270px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fade-1 {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);

  }
  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

.fade-2 {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);

  }
  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

.fade-3 {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);

  }
  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

.fade-4 {
  animation: fadeIn 2.5s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);

  }
  100% {
    opacity: 1;
    transform: translateY(0);

  }
}





@media (min-width: 768px) and (max-width: 1560px) {
  .page-width {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
    margin: auto;
  }

  .contain {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
  }

  .shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
}
