header {
  box-shadow: 0 0 20px 0 rgb(95, 94, 94);
  padding: 20px;
  position: relative;
  z-index: 1;
}

header img {
  display: flex;
  width: 300px;
  height: auto;
  justify-content: center;
  margin: auto;
}


.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 2s ease-in-out forwards 3s;
  pointer-events: none;
}

.spinner .circle {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: spin 2s ease-out infinite;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

/*.container, .menu-item, nav, header, footer, section, main {
  animation: transitionIn 2s ease-in-out forwards ;
}*/


*{
    box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

h2,
p {
  font-family: "Roboto", sans-serif;
}

.location-text {
  text-align: center;
  color: rgb(80, 44, 44);
}

.location-pin {
  justify-content: space-around;
  margin-right: 10px;
  color: rgb(38, 38, 36);
}

.location-container {
  padding: 10px;
}

.nav-bar {
  text-align: center;
  padding: 1px;
  background-color: rgb(226, 221, 221);
  font-size: 12px;
}

.nav-bar h2 {
  color: rgb(38, 38, 36);
}

main {
  background-color: rgb(241, 238, 238);
  margin-bottom: 5px;
  padding-bottom: 70px;
}

.explore {
  height: 250px;
  width: 350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  padding-bottom: 60px;
}

main h1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

main p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 15px;
}

.sub-text {
  text-align: left;
  font-weight: 700 !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.spacer {
  height: 10px;
  margin: 10px;
}

.button {
  background-color: rgb(244, 241, 241);
  border: none;
  border-radius: 5px;
  height: auto;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.button-icon {
  margin-right: 25px;
  color: #665;
}

.number {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #9356dc;
  position: absolute;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  top: 11px;
}

.text-box {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.text-box span {
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.restaurant-container {
  flex-direction: row;
  background-color: rgb(241, 238, 238);
  padding-top: 50px;
  padding-bottom: 20px;
}

.card {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
  transition: all 200ms;
}

.card-content {
  border-radius: 10px;
}

.card:hover,
.button:hover,
.purp-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card:hover,
.button:hover {
  transform: scale(0.9);
}

.button:hover .button-icon {
  color: #9356dc;
  animation: 0.2 ease-in;
}


.new {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #99e2d0;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: rgb(73, 144, 128);
}

.container {
  max-width: 950px;
  margin: auto;
  padding: 0 20px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
}

.card-content {
  text-align: left;
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.card-content-left {
  height: 100%;
}

.card-content p {
  font-weight: 200;
  font-size: 18px;
}

.card-content h2 {
  font-weight: 500;
  font-size: 22px;
}

.heart-icon {
  color: rgb(255, 255, 255);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
font-size: 25px;
}


.heart-icon:hover {
  color: #9356dc;
  -webkit-text-stroke-color: #9356dc;
}

.card-text h2 {
  font-size: 20px;
  margin-bottom: 0px;
  text-align: left;
}

.card-text p {
  font-size: 16px;
  color: #666;
  text-align: left;
}

.options {
  background-color: white;
  padding: 30px 0;
}

.options h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.restaurant-list {
  background-color: rgb(241, 238, 238);
}

.heart-icon {
  justify-content: space-between;
  padding: 10px;
}

.icon {
  position: relative;
  width: 20%;
}


.heart-empty, .heart-full {
  position: absolute;
}



/*@media (min-width: 768px) and (max-width: 992px) {
    
  }*/

@media (max-width: 768px) {

    body {
        background: white;
    }

  #options {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 20px;
  }

  h2 {
    text-align: center;
  }

  .button {
    height: auto;
    width: 100%;
    padding: 19px 21px;
    border-radius: 20px;
  }

  .restaurant-container {
    flex-direction: column;
  }

  .card {
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .restaurant-list {
    padding-top: 10px;
  }

  
}

/*TABLET VERSION*/

@media (min-width: 768px) {
  .card {
    width: 100%;
    background: white;
    height: fit-content;
    border-radius: 10px;
    height: 100%;
    flex-grow: 1;
  }

  .restaurant-container {
    margin-bottom: 0px;
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .rest-card-container {
    display: flex;
    gap: 20px;
  }

  .button {
    width: 250px;
  }

  .card-title , .card-location {
    font-size: 5px;

  }

  .card-content h2 {
    font-size: 16px;
  }

  .card-content p {
    font-size: 14px;
  }
}

/* LAPTOP VERSION */

@media  (min-width: 992px) and (max-width: 2560px) {
  .card-title , .card-location {
    font-size: 5px;

  }


  .button-icon {
    padding-left: 2px;
  }

  .button .text-box span {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .text-box {
    padding-right: 5px;
  }
  
  .card-content h2 {
    font-size: 16px;
  }

  .card-content p {
    font-size: 14px;
  }

  .button {
    height: 75px;

}

.button-icon {
  font-size: 20px;
}

.number {
  bottom: 13px;
}
}
