* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h3, p {
    font-family: "Roboto" , sans-serif;
}


header {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

header img {
    display: flex;
    width: 300px;
    height: auto;
    justify-content: center;
    margin: auto;

}

.back-arrow {
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-direction: row;
}

.image-section {
    height: 300px;
    width: 100%;
    background: brown;
}

.image-section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.menu-header h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}

.card h3 , p {
    font-weight: 500;
}

.category-container h2, .card-text p {
    font-family: 'Roboto',sans-serif ;
    font-weight: 100;
}

.card .price-text {
    font-weight: 500;
}

.menu-section {
    width: 100%;
    background: rgb(232, 231, 231);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;

}

.category-container {
    margin-bottom: 40px;
}

.category-container h2 {
    padding-bottom: 3px;  
    position: relative;
}

.category-container h2::before {
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 12%;
    height: 3px;
    background: #99E2D0;

}

.category-container:last-child {
    margin: 0;
}

.menu-header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.heart-icon {
    font-size: 25px;
}

.menu-card {
    background: white;
    border-radius: 25px;
    padding: 1px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}


.order-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.menu-card:last-child {
    margin: 0;
}

.menu-card:hover .box {
    width: 90px;
  }

  .card {
    background: white;
    width: 100%;
    padding-left: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
  }
  .card:hover .box {
    width: 90px;
  }
  .card:hover .tick {
    -webkit-animation: 1s rotate;
            animation: 1s rotate;
  }
  .card .card-text {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .card h3 {
    margin-bottom: 10px;
  }
  .card .box {
    background: rgb(141, 217, 213);
    width: 0%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card .box .tick {
    font-size: 25px;
    color: white;
  }
  
  @-webkit-keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.order-button-container {
    display: flex;
    justify-content: center;
}

.order-button {
    margin-bottom: 100px !important;
    margin-top: 30px;
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.fade-1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1S;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.fade-2 {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2S;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.fade-3 {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3S;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}