header {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

header img {
    display: flex;
    width: 300px;
    height: auto;
    justify-content: center;
    margin: auto;

}

.img-container {
    margin: 0;
    height: 30px;
    width: 100px;
}